.audit-form-container {
  text-align: Left;     /* centers horizontally */
  margin-top: 30px;
}

.audit-title {
  font-size: 32px;
  text-align:center;
  font-weight: bold;
  color: #1e293b;

  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

  letter-spacing: 1px;
}